.btn {
    background-color: transparent;
    border: 1px solid @black;
    border-radius: 0;
    color: @black;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin: @site-padding * 2 0;
    padding: @site-padding @site-padding * 2;
    text-transform: uppercase;
    .transition-0_5s;
    &:hover {
        background-color: @black;
        color: @white;
    }
    &-black {
        background-color: @black;
        color: @white;
        &:hover {
            background-color: @white;
            color: @black;
        }
    }
}