

@keyframes fade-in {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

.nav {
    margin-top: 80px;
    .clearfix;
    &-btn {
        border-bottom: 2px solid @black;
        border-top: 2px solid @black;
        display: none;
        float: right;
        height: 22px;
        position: relative;
        width: 22px;
        @media only screen and (max-width: 1200px) {
            display: block;
        }
        &:before {
            content: "";
            background-color: @black;
            height: 2px;
            margin-top: -1px;
            position: absolute;
            right: 0;
            top: 50%;
            width: 26px;
        }
        &:after {
            content: "open";
            color: @black;
            display: block;
            font-size: 12px;
            height: 100%;
            line-height: 20px;
            padding-right: 40px;
            position: absolute;
            right: 0;
            text-transform: uppercase;
            top: 0;
        }
    }
    &-close {
        display: none;
        height: 25px;
        position: absolute;
        right: @site-padding;
        top: 0;
        width: 25px;
        z-index: 10;
        &:before {
            content: "";
            background-color: @black;
            height: 1px;
            left: 0;
            position: absolute;
            top: 50%;
            width: 25px;
            .rotate-60;
        }
        &:after {
            content: "";
            background-color: @black;
            height: 1px;
            left: 0;
            position: absolute;
            top: 50%;
            width: 25px;
            .rotate-120;
        }
    }
    &-list {
        float: right;
        list-style: none;
        margin: 0;
        padding: 0;
        @media only screen and (max-width: 1200px) {
            align-items: center;
            background: url("../img/menu-bg.jpg") no-repeat center center;
            background-size: cover;
            height: 100%;
            display: none;
            justify-content: center;
            left: 0;
            position: fixed;
            text-align: center;
            top: 0;
            width: 100%;
            animation: fade-in 0.5s 1;
        }
        @media only screen and (max-width: 767px) {
            padding-top: 20vh;
        }
        @media screen and (max-width: 767px) and (orientation: landscape) {
            padding-top: 5vh;
        }
        &:before {
            content: "";
            background-color: @white;
            display: none;
            height: 100%;
            left: 0;
            opacity: 0.9;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 5;
            @media only screen and (max-width: 1200px) {
                display: block;
            }
        }
    }
    &-item {
        color: @white;
        float: left;
        font-size: 12px;
        font-weight: 300;
        line-height: 15px;
        margin-left: @site-padding * 5;
        padding: @site-padding / 3 0;
        position: relative;
        text-transform: uppercase;
        z-index: 10;
        @media only screen and (max-width: 1200px) {
            display: inline-block;
            float: none;
            font-size: 30px;
        }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
            margin-left: @site-padding * 4;
        }
        @media only screen and (max-width: 767px) {
            display: block;
            padding: @site-padding * 2 0;
            margin-left: 0;
        }
        &:first-child {
            margin-left: 0;
        }
    }
    &-link {
        color: @white;
    }
    &--light {
        .nav-link {
            color: @white;
            &:hover { color: @gray-dark; }
        }
    }
    &--dark {
        .nav-link {
            color: @black;
            &:hover { color: @gray-dark; }
        }
    }
    &.is {
        &-active {
            .nav-close { display: block; }
            .nav-list {
                display: flex;
                @media only screen and (max-width: 767px) {
                    display: block;
                }
            }
        }
    }
}