.nav {
    margin-top: 80px;
    @media only screen and (max-width: 1200px) {
        margin-top: 30px;
    }
    .clearfix;
    &-btn {
        border-bottom: 2px solid @black;
        border-top: 2px solid @black;
        display: none;
        float: right;
        height: 22px;
        position: relative;
        width: 22px;
        @media only screen and (max-width: 1200px) {
            display: block;
        }
        &:before {
            content: "";
            background-color: @black;
            height: 2px;
            margin-top: -1px;
            position: absolute;
            right: 0;
            top: 50%;
            width: 26px;
        }
        &:after {
            content: "open";
            color: @black;
            display: block;
            font-size: 12px;
            height: 100%;
            line-height: 20px;
            padding-right: 40px;
            position: absolute;
            right: 0;
            text-transform: uppercase;
            top: 0;
        }
    }
    &-close {
        display: none;
        height: 25px;
        position: fixed;
        right: @site-padding;
        top: @site-padding * 2;
        width: 25px;
        z-index: 10;
        &:before {
            content: "";
            background-color: @black;
            height: 1px;
            left: 0;
            position: absolute;
            top: 50%;
            width: 25px;
            .rotate-60;
        }
        &:after {
            content: "";
            background-color: @black;
            height: 1px;
            left: 0;
            position: absolute;
            top: 50%;
            width: 25px;
            .rotate-120;
        }
    }
    &-list {
        float: right;
        list-style: none;
        margin: 0;
        padding: 0;
        @media only screen and (max-width: 1200px) {
            align-items: center;
            background: url("../img/menu-bg.jpg") no-repeat center center;
            background-size: cover;
            height: 100%;
            display: none;
            justify-content: center;
            left: 0;
            position: fixed;
            text-align: center;
            top: 0;
            width: 100%;
            animation: fade-in 0.5s 1;
        }
        &:before {
            content: "";
            background-color: @white;
            display: none;
            height: 100%;
            left: 0;
            opacity: 0.9;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 5;
            @media only screen and (max-width: 1200px) {
                display: block;
            }
        }
    }
    &-item {
        color: @white;
        float: left;
        font-size: 12px;
        font-weight: 300;
        line-height: 15px;
        margin-left: @site-padding * 5;
        padding: @site-padding / 3 0;
        position: relative;
        text-transform: uppercase;
        z-index: 10;
        @media only screen and (max-width: 1200px) {
            display: inline-block;
            float: none;
            font-size: 30px;
        }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
            margin-left: @site-padding * 4;
        }
        @media only screen and (max-width: 1200px) {
            display: block;
            padding: @site-padding * 2 0;
            margin-left: 0;
        }
        &:first-child {
            margin-left: 0;
        }
    }
    &-link {
        color: @white;
    }
    &-title {
        color: @black;
        font-size: 28px;
        line-height: 30px;
        text-transform: uppercase;
    }
    &--light {
        .nav-link {
            color: @white;
            &:hover { color: @gray-dark; }
        }
    }
    &--dark {
        .nav-link {
            color: @black;
            &:hover { color: @gray-dark; }
        }
    }
    &.is {
        &-active {
            .nav-close { display: block; }
            .nav-list {
                display: flex;
                flex-direction: column;
            }
        }
    }
    &--side {
        align-items: center;
        background-color: @white;
        border-right: 1px solid @gray-light;
        display: flex;
        float: left;
        height: 100vh;
        position: relative;
        width: @site-padding * 12;
        .transition-0_5s;
        @media only screen and (max-width: 1200px) {
            display: none;
        }
        .nav {
            margin-top: 0;
            &-list {
                animation: fade-in 0.5s 1;
                display: none;
                flex-direction: column;
                opacity: 0;
                padding-left: 80px;
                width: 100%;
            }
            &-item {
                font-size: 16px;
                margin-left: 0;
                padding: @site-padding 0;
            }
            &-btn {
                display: block;
                left: 50%;
                margin-left: -13px;
                position: absolute;
                top: @site-padding * 5;
                &:after {
                    display: none;
                }
            }
            &-close {
                display: none;
                left: 50%;
                margin-left: -@site-padding;
                position: absolute;
                top: @site-padding * 5;
            }
            &-link {
                color: @gray-dark;
            }
            &-title {
                padding: @site-padding 0;
            }
        }
        &.is-active {
            width: @site-padding * 18;
            .nav-list {
                display: flex;
                opacity: 1;
            }
            .nav-btn { display: none; }
            .nav-close { display: block; }
            & + .nav--content {
                width: calc(~"100% - " (@site-padding * 18));
            }
        }
    }
    &--content {
        height: 100vh;
        overflow: auto;
        width: calc(~"100% - " (@site-padding * 12));
        .transition-0_5s;
        @media only screen and (max-width: 1200px) {
            height: auto;
            width: 100%;
            .container-fluid {
                padding-left: 0;
                padding-right: 0;
            }
        }

        .header {
            display: none;
            @media only screen and (max-width: 1200px) {
                display: block;
            }
        }
        .page-content { padding-top: 0; }
    }
}