<div class="blog-section form">
    <h3 class="form-title">LEAVE A REPLY.</h3>
    <div class="form-item col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <input type="text" class="input-text" placeholder="NAME (REQUIRED)">
    </div>
    <div class="form-item col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <input type="text" class="input-text" placeholder="EMAIL (REQUIRED)">
    </div>
    <div class="form-item col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <input type="text" class="input-text" placeholder="WEBSITE">
    </div>
    <div class="form-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <textarea class="textarea" placeholder="MESSAGE (REQUIRED)"></textarea>
    </div>
    <div class="form-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <button class="form-btn btn btn-black">POST A COMMENT</button>
    </div>
</div>