<div class="blog-section comments">
    <span class="comments-counter">34 COMMENTS</span>
    <ul class="comments-list">
        <li class="comments-item">
            <div class="comments-avatar">
                <img src="img/avatar-001.jpg" alt="" class="comments-avatar-img">
            </div>
            <div class="comments-description">
                <header class="comments-header">
                    <span class="comments-author">Jane Doe.</span>
                    <span class="comments-date">05 MAY 2014.</span>
                </header>
                <div class="comments-content">
                    <p class="comments-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <footer class="comments-footer">
                    <a href="#" title="" class="comments-btn btn">reply.</a>
                </footer>
            </div>
        </li>
        <li class="comments-item comments-item--inner">
            <div class="comments-avatar">
                <img src="img/avatar-001.jpg" alt="" class="comments-avatar-img">
            </div>
            <div class="comments-description">
                <header class="comments-header">
                    <span class="comments-author">Jane Doe.</span>
                    <span class="comments-date">05 MAY 2014.</span>
                </header>
                <div class="comments-content">
                    <p class="comments-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                </div>
                <footer class="comments-footer">
                    <a href="#" title="" class="comments-btn btn">reply.</a>
                </footer>
            </div>
        </li>
        <li class="comments-item">
            <div class="comments-avatar">
                <img src="img/avatar-001.jpg" alt="" class="comments-avatar-img">
            </div>
            <div class="comments-description">
                <header class="comments-header">
                    <span class="comments-author">Jane Doe.</span>
                    <span class="comments-date">05 MAY 2014.</span>
                </header>
                <div class="comments-content">
                    <p class="comments-text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                </div>
                <footer class="comments-footer">
                    <a href="#" title="" class="comments-btn btn">reply.</a>
                </footer>
            </div>
        </li>
    </ul>
    <div class="comments-more">
        <a href="#" title="" class="btn">LOAD MORE.</a>
    </div>
</div>