<div class="carousel">
    <h3 class="carousel-title text-center"><i class="fa fa-instagram"></i>REBECCAUI</h3>
    <ul class="carousel-list">
        <li class="carousel-item">
            <img src="img/carousel-img-001.jpg" title="" class="carousel-img">
            <div class="carousel-description">
                <a href="#" title="" class="carousel-link">&nbsp;</a>
            </div>
        </li>
        <li class="carousel-item">
            <img src="img/carousel-img-002.jpg" title="" class="carousel-img">
            <div class="carousel-description">
                <a href="#" title="" class="carousel-link">&nbsp;</a>
            </div>
        </li>
        <li class="carousel-item">
            <img src="img/carousel-img-003.jpg" title="" class="carousel-img">
            <div class="carousel-description">
                <a href="#" title="" class="carousel-link">&nbsp;</a>
            </div>
        </li>
        <li class="carousel-item">
            <img src="img/carousel-img-004.jpg" title="" class="carousel-img">
            <div class="carousel-description">
                <a href="#" title="" class="carousel-link">&nbsp;</a>
            </div>
        </li>
        <li class="carousel-item">
            <img src="img/carousel-img-005.jpg" title="" class="carousel-img">
            <div class="carousel-description">
                <a href="#" title="" class="carousel-link">&nbsp;</a>
            </div>
        </li>
        <li class="carousel-item">
            <img src="img/carousel-img-006.jpg" title="" class="carousel-img">
            <div class="carousel-description">
                <a href="#" title="" class="carousel-link">&nbsp;</a>
            </div>
        </li>
        <li class="carousel-item">
            <img src="img/carousel-img-002.jpg" title="" class="carousel-img">
            <div class="carousel-description">
                <a href="#" title="" class="carousel-link">&nbsp;</a>
            </div>
        </li>
        <li class="carousel-item">
            <img src="img/carousel-img-003.jpg" title="" class="carousel-img">
            <div class="carousel-description">
                <a href="#" title="" class="carousel-link">&nbsp;</a>
            </div>
        </li>
        <li class="carousel-item">
            <img src="img/carousel-img-004.jpg" title="" class="carousel-img">
            <div class="carousel-description">
                <a href="#" title="" class="carousel-link">&nbsp;</a>
            </div>
        </li>
        <li class="carousel-item">
            <img src="img/carousel-img-005.jpg" title="" class="carousel-img">
            <div class="carousel-description">
                <a href="#" title="" class="carousel-link">&nbsp;</a>
            </div>
        </li>
    </ul>
</div>