<div class="carousel carousel--auto">
    <ul class="carousel-list">
        <li class="carousel-item">
            <img src="img/carousel-img-007.jpg" title="" class="carousel-img">
            <div class="carousel-description">
                <a href="#" title="" class="carousel-link">&nbsp;</a>
                <h3 class="carousel-description-title">SADNESS.</h3>
                <h4 class="carousel-description-subtitle">Photography</h4>
            </div>
        </li>
        <li class="carousel-item">
            <img src="img/carousel-img-008.jpg" title="" class="carousel-img">
            <div class="carousel-description">
                <a href="#" title="" class="carousel-link">&nbsp;</a>
                <h3 class="carousel-description-title">SADNESS.</h3>
                <h4 class="carousel-description-subtitle">Photography</h4>
            </div>
        </li>
        <li class="carousel-item">
            <img src="img/carousel-img-009.jpg" title="" class="carousel-img">
            <div class="carousel-description">
                <a href="#" title="" class="carousel-link">&nbsp;</a>
                <h3 class="carousel-description-title">SADNESS.</h3>
                <h4 class="carousel-description-subtitle">Photography</h4>
            </div>
        </li>
        <li class="carousel-item">
            <img src="img/carousel-img-010.jpg" title="" class="carousel-img">
            <div class="carousel-description">
                <a href="#" title="" class="carousel-link">&nbsp;</a>
                <h3 class="carousel-description-title">SADNESS.</h3>
                <h4 class="carousel-description-subtitle">Photography</h4>
            </div>
        </li>
        <li class="carousel-item">
            <img src="img/carousel-img-007.jpg" title="" class="carousel-img">
            <div class="carousel-description">
                <a href="#" title="" class="carousel-link">&nbsp;</a>
                <h3 class="carousel-description-title">SADNESS.</h3>
                <h4 class="carousel-description-subtitle">Photography</h4>
            </div>
        </li>
        <li class="carousel-item">
            <img src="img/carousel-img-008.jpg" title="" class="carousel-img">
            <div class="carousel-description">
                <a href="#" title="" class="carousel-link">&nbsp;</a>
                <h3 class="carousel-description-title">SADNESS.</h3>
                <h4 class="carousel-description-subtitle">Photography</h4>
            </div>
        </li>
        <li class="carousel-item">
            <img src="img/carousel-img-009.jpg" title="" class="carousel-img">
            <div class="carousel-description">
                <a href="#" title="" class="carousel-link">&nbsp;</a>
                <h3 class="carousel-description-title">SADNESS.</h3>
                <h4 class="carousel-description-subtitle">Photography</h4>
            </div>
        </li>
        <li class="carousel-item">
            <img src="img/carousel-img-010.jpg" title="" class="carousel-img">
            <div class="carousel-description">
                <a href="#" title="" class="carousel-link">&nbsp;</a>
                <h3 class="carousel-description-title">SADNESS.</h3>
                <h4 class="carousel-description-subtitle">Photography</h4>
            </div>
        </li>
        <li class="carousel-item">
            <img src="img/carousel-img-007.jpg" title="" class="carousel-img">
            <div class="carousel-description">
                <a href="#" title="" class="carousel-link">&nbsp;</a>
                <h3 class="carousel-description-title">SADNESS.</h3>
                <h4 class="carousel-description-subtitle">Photography</h4>
            </div>
        </li>
        <li class="carousel-item">
            <img src="img/carousel-img-008.jpg" title="" class="carousel-img">
            <div class="carousel-description">
                <a href="#" title="" class="carousel-link">&nbsp;</a>
                <h3 class="carousel-description-title">SADNESS.</h3>
                <h4 class="carousel-description-subtitle">Photography</h4>
            </div>
        </li>
        <li class="carousel-item">
            <img src="img/carousel-img-009.jpg" title="" class="carousel-img">
            <div class="carousel-description">
                <a href="#" title="" class="carousel-link">&nbsp;</a>
                <h3 class="carousel-description-title">SADNESS.</h3>
                <h4 class="carousel-description-subtitle">Photography</h4>
            </div>
        </li>
        <li class="carousel-item">
            <img src="img/carousel-img-010.jpg" title="" class="carousel-img">
            <div class="carousel-description">
                <a href="#" title="" class="carousel-link">&nbsp;</a>
                <h3 class="carousel-description-title">SADNESS.</h3>
                <h4 class="carousel-description-subtitle">Photography</h4>
            </div>
        </li>
    </ul>
</div>