<div class="portfolio">
    <ul class="portfolio-list">
        <li class="portfolio-item col-lg-3">
            <img src="img/portfolio-img-001.png" alt="" class="portfolio-img">
            <div class="portfolio-description">
                <a href="#" title="" class="portfolio-link">&nbsp;</a>
            </div>
        </li>
        <li class="portfolio-item col-lg-3">
            <img src="img/portfolio-img-002.png" alt="" class="portfolio-img">
            <div class="portfolio-description">
                <a href="#" title="" class="portfolio-link">&nbsp;</a>
            </div>
        </li>
        <li class="portfolio-item col-lg-3">
            <img src="img/portfolio-img-003.png" alt="" class="portfolio-img">
            <div class="portfolio-description">
                <a href="#" title="" class="portfolio-link">&nbsp;</a>
            </div>
        </li>
        <li class="portfolio-item col-lg-3">
            <img src="img/portfolio-img-004.png" alt="" class="portfolio-img">
            <div class="portfolio-description">
                <a href="#" title="" class="portfolio-link">&nbsp;</a>
            </div>
        </li>
        <li class="portfolio-item col-lg-3">
            <img src="img/portfolio-img-005.png" alt="" class="portfolio-img">
            <div class="portfolio-description">
                <a href="#" title="" class="portfolio-link">&nbsp;</a>
            </div>
        </li>
        <li class="portfolio-item col-lg-3">
            <img src="img/portfolio-img-006.png" alt="" class="portfolio-img">
            <div class="portfolio-description">
                <a href="#" title="" class="portfolio-link">&nbsp;</a>
            </div>
        </li>
        <li class="portfolio-item col-lg-3">
            <img src="img/portfolio-img-007.png" alt="" class="portfolio-img">
            <div class="portfolio-description">
                <a href="#" title="" class="portfolio-link">&nbsp;</a>
            </div>
        </li>
        <li class="portfolio-item col-lg-3">
            <img src="img/portfolio-img-008.png" alt="" class="portfolio-img">
            <div class="portfolio-description">
                <a href="#" title="" class="portfolio-link">&nbsp;</a>
            </div>
        </li>
    </ul>
</div>