<div class="portfolio portfolio--masonry">
    <ul class="portfolio-list">
        <li class="portfolio-item col-lg-3">
            <img src="img/portfolio-masonry-img-001.jpg" alt="" class="portfolio-img">
            <div class="portfolio-description">
                <a href="#" title="" class="portfolio-link">&nbsp;</a>
            </div>
        </li>
        <li class="portfolio-item col-lg-3">
            <img src="img/portfolio-masonry-img-002.jpg" alt="" class="portfolio-img">
            <div class="portfolio-description">
                <a href="#" title="" class="portfolio-link">&nbsp;</a>
            </div>
        </li>
        <li class="portfolio-item col-lg-3">
            <img src="img/portfolio-masonry-img-003.jpg" alt="" class="portfolio-img">
            <div class="portfolio-description">
                <a href="#" title="" class="portfolio-link">&nbsp;</a>
            </div>
        </li>
        <li class="portfolio-item col-lg-3">
            <img src="img/portfolio-masonry-img-004.jpg" alt="" class="portfolio-img">
            <div class="portfolio-description">
                <a href="#" title="" class="portfolio-link">&nbsp;</a>
            </div>
        </li>
        <li class="portfolio-item col-lg-6">
            <img src="img/portfolio-masonry-img-005.jpg" alt="" class="portfolio-img">
            <div class="portfolio-description">
                <a href="#" title="" class="portfolio-link">&nbsp;</a>
            </div>
        </li>
        <li class="portfolio-item col-lg-3">
            <img src="img/portfolio-masonry-img-006.jpg" alt="" class="portfolio-img">
            <div class="portfolio-description">
                <a href="#" title="" class="portfolio-link">&nbsp;</a>
            </div>
        </li>
        <li class="portfolio-item col-lg-3">
            <img src="img/portfolio-masonry-img-007.jpg" alt="" class="portfolio-img">
            <div class="portfolio-description">
                <a href="#" title="" class="portfolio-link">&nbsp;</a>
            </div>
        </li>
    </ul>
</div>