<div class="form">
    <div class="form-item col-lg-4">
        <input type="text" class="input-text" placeholder="NAME (REQUIRED)">
    </div>
    <div class="form-item col-lg-4">
        <input type="text" class="input-text" placeholder="EMAIL (REQUIRED)">
    </div>
    <div class="form-item col-lg-4">
        <input type="text" class="input-text" placeholder="SUBJECT">
    </div>
    <div class="form-item col-lg-12">
        <textarea class="textarea" placeholder="MESSAGE (REQUIRED)"></textarea>
    </div>
    <div class="form-item col-lg-12">
        <button class="form-btn btn btn-black">send</button>
    </div>
</div>