<div class="tree">
    <a href="#" title="" class="tree-btn">+</a>
    <div class="tree-nav">
        <ul class="tree-nav-list">
            <li class="tree-nav-item">
                <h3 class="tree-nav-title">6 Homepages</h3>
            </li>
            <li class="tree-nav-item">
                <a href="001-homepage-fullpage-slider.html" title="" class="tree-nav-link">Fullpage Slider</a>
            </li>
            <li class="tree-nav-item">
                <a href="002-homepage-fullpage-video.html" title="" class="tree-nav-link">Fullpage Video</a>
            </li>
            <li class="tree-nav-item">
                <a href="003-homepage-fullwidth-boxes.html" title="" class="tree-nav-link">Fullwidth Boxes</a>
            </li>
            <li class="tree-nav-item">
                <a href="004-homepage-halfpage-slider.html" title="" class="tree-nav-link">Halfpage Slider</a>
            </li>
            <li class="tree-nav-item">
                <a href="005-homepage-masonry.html" title="" class="tree-nav-link">Masonry</a>
            </li>
            <li class="tree-nav-item">
                <a href="006-homepage-vertical-slider.html" title="" class="tree-nav-link">Vertical Slider</a>
            </li>
        </ul>
        <ul class="tree-nav-list">
            <li class="tree-nav-item">
                <h3 class="tree-nav-title">2 Navigations</h3>
            </li>
            <li class="tree-nav-item">
                <a href="007-nav-sidebar.html" title="" class="tree-nav-link">type Sidebar</a>
            </li>
            <li class="tree-nav-item">
                <a href="008-nav-top.html" title="" class="tree-nav-link">type Top</a>
            </li>
        </ul>
    </div>
</div>