<footer class="footer">
    <ul class="footer-list">
        <li class="footer-item">
            <a href="#" title="" class="footer-link">TWITTER</a>
        </li>
        <li class="footer-item">
            <a href="#" title="" class="footer-link">PINTEREST</a>
        </li>
        <li class="footer-item">
            <a href="#" title="" class="footer-link">DRIBBBLE</a>
        </li>
        <li class="footer-item">
            <a href="#" title="" class="footer-link">FACEBOOK</a>
        </li>
        <li class="footer-item">
            <a href="#" title="" class="footer-link">BEHANCE</a>
        </li>
        <li class="footer-item">
            <a href="#" title="" class="footer-link">LINKEDIN</a>
        </li>
    </ul>
</footer>